<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KGEntities" connectionString="metadata=res://*/EF.KG.csdl|res://*/EF.KG.ssdl|res://*/EF.KG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KDSQL;initial catalog=KG;user id=la201;password=kd-345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>